<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Shanmugasundharam/Documents/Selenium_Java_New_Framework"><classes>
        <class name="Execution_Engine.Driver_Script">
            <methods>
                <include name="Initalization"/>
            </methods>
        </class>
    </classes>
    </test>
</suite>